@page "/pessoas"

@using DataLibrary
@using project_csharp_mysql.Models
@using Microsoft.Extensions.Configuration
@inject IAcessoDados _dados
@inject IConfiguration _config

<h3>Responsáveis pelos setores:</h3>

<button class="btn btn-primary" @onclick="InserirDado">Inserir</button>

@if (pessoas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in pessoas)
                {
                    <p>
                        @p.DepartamentoNome @p.Responsavel
                    </p>
                }
}

@code {
    List<PessoasModel> pessoas;

    private async Task InserirDado()
    {
        string sql = "insert into departamento (DepartamentoNome, Responsavel) values ";
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from mysqldb.departamento";

        pessoas = await _dados.CarregaDado<PessoasModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
