@page "/pessoas"

@using DataLibrary
@using project_csharp_mysql.Models
@using Microsoft.Extensions.Configuration
@inject IAcessoDados _dados
@inject IConfiguration _config

<h3>Coordenadores dos setores:</h3>

<button class="btn btn-primary" @onclick="InserirDado">Inserir</button>
<button class="btn btn-warning" @onclick="UpdateDados">Atualizar</button>
<button class="btn btn-danger" @onclick="DeletarDados">Deletar</button>

@if (pessoas == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Identificação</th>
                <th>Nome do Setor</th>
                <th>Responsável</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in pessoas)
            {
                <tr>
                    <td>@p.DepartamentoId</td>
                    <td>@p.DepartamentoNome</td>
                    <td>@p.Responsavel</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<PessoasModel> pessoas;

    private async Task InserirDado()
    {
        string sql = "INSERT INTO mysqldb.departamento (DepartamentoNome, Responsavel) VALUES (@DepartamentoNome , @Responsavel);";

        await _dados.SalvaDado(sql, new { DepartamentoNome = "Desenvolvimento C", Responsavel = "Dennis Ritchie" }, _config.GetConnectionString("default"));

        await OnInitializedAsync();
    }

    private async Task UpdateDados()
    {
        string sql = "UPDATE mysqldb.departamento SET Responsavel = @Responsavel WHERE DepartamentoId = @DepartamentoId;";

        await _dados.SalvaDado(sql, new { Responsavel = "Ken Thompson", DepartamentoId = 1 }, _config.GetConnectionString("default"));

        await OnInitializedAsync();
    }

    private async Task DeletarDados()
    {
        string sql = "DELETE FROM mysqldb.departamento WHERE DepartamentoId = @DepartamentoId;";

        await _dados.SalvaDado(sql, new { DepartamentoId = 2 }, _config.GetConnectionString("default"));

        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM mysqldb.departamento";

        pessoas = await _dados.CarregaDado<PessoasModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
