@page "/pessoas"

@using DataLibrary
@using project_csharp_mysql.Models
@using Microsoft.Extensions.Configuration
@inject IAcessoDados _dados
@inject IConfiguration _config

<h3>Responsáveis pelos setores:</h3>

<button class="btn btn-primary" @onclick="InserirDado">Inserir</button>
<button class="btn btn-primary" @onclick="InserirDado">Inserir</button>

@if (pessoas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var p in pessoas)
                {
                    <p>
                        @p.DepartamentoNome @p.Responsavel
                    </p>
                }
}

@code {
    List<PessoasModel> pessoas;

    private async Task InserirDado()
    {
        string sql = "INSERT INTO mysqldb.departamento (DepartamentoNome, Responsavel) VALUES (@DepartamentoNome , @Responsavel);";

        await _dados.SalvaDado(sql, new { DepartamentoNome = "APPSEC", Responsavel = "Elliot Alderson" }, _config.GetConnectionString("default"));
    }

    private async Task UpdateDados()
    {
        string sql = "UPDATE mysqldb.departamento SET DepartamentoNome = @DepartamentoNome WHERE Responsavel = @Responsavel)";

        await _dados.SalvaDado(sql, new { DepartamentoNome = "C#DEV", Responsavel = "Forrest Gump" }, _config.GetConnectionString("default"));

        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM mysqldb.departamento";

        pessoas = await _dados.CarregaDado<PessoasModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
